.about__container {
  margin-top: 147px;
  display: flex;
}

.about__container:before {
  content: '';
  width: 490px;
  height: 505px;
  background: url("../../img/gates.png") center no-repeat;
  display: block;
}

.about__info {
  max-width: 785px;
  background: url("../../img/mountains.png") center no-repeat;
  padding: 70px 80px;
  border-radius: 5px;
  margin-left: -135px;
  margin-top: 96px;

}

.about__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #060606;
  margin: 38px 0 42px;
}

.about__text p {
  width: 502px;
}


