.footer {
  height: 123px;
  margin-top: 60px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.social {
  display: flex;
}

.social__item {
  margin-right: 10px;
}

.social__logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: transparent;
  position: relative;
}

.social__logo--tg::after {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity .3s ease;
  background: url('../../img/css_sprites.png') -122px -10px;
}

.social__logo--tg::before {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: opacity .3s ease;
  background: url('../../img/css_sprites.png') -122px -66px;

}

.social__item:hover .social__logo--tg::after  {
  opacity: 1;
}


.social__logo--vk::after {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity .3s ease;
  background: url('../../img/css_sprites.png') -10px -122px;
}

.social__logo--vk::before {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: opacity .3s ease;
  background: url('../../img/css_sprites.png') -66px -122px;
}

.social__item:hover .social__logo--vk::after  {
  opacity: 1;
}

.social__logo--fb::after {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity .3s ease;
  background: url('../../img/css_sprites.png') -66px -10px;
}

.social__logo--fb::before {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: opacity .3s ease;
  background: url('../../img/css_sprites.png') -10px -10px;
}

.social__item:hover .social__logo--fb::after  {
  opacity: 1;
}

.social__logo--in::after {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity .3s ease;
  background: url('../../img/css_sprites.png') -10px -66px;
}

.social__logo--in::before {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: opacity .3s ease;
  background: url('../../img/css_sprites.png') -66px -66px;
}

.social__item:hover .social__logo--in::after  {
  opacity: 1;
}

.footer__contacts {
  margin-left: 62px;
  display: flex;
  flex-direction: column;
}

.contacts__info {
  color: #9A9A9A;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
}
