.footer {
  height: 123px;
  margin-top: 60px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.social {
  display: flex;
}

.social__item {
  margin-right: 10px;
}

.social__link {
  opacity: 60%;
}

.social__link:hover {
  opacity: 100%;
}

.footer__contacts {
  margin-left: 62px;
  display: flex;
  flex-direction: column;
}

.contacts__info {
  color: #9A9A9A;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
}
