.footer {
  height: 123px;
  margin-top: 60px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.social {
  display: flex;
}

.social__item {
  margin-right: 10px;
}

.social__logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.social__logo--tg {
  background: url('../../img/css_sprites.png') -66px -122px;
}

.social__logo--tg:hover {
  background: url('../../img/css_sprites.png') -66px -10px;
}

.social__logo--vk {
  background: url('../../img/css_sprites.png') -10px -122px;
}

.social__logo--vk:hover {
  background: url('../../img/css_sprites.png') -10px -66px;
}

.social__logo--fb {
  background: url('../../img/css_sprites.png') -66px -66px;
}

.social__logo--fb:hover {
  background: url('../../img/css_sprites.png') -122px -66px;
}

.social__logo--in {
  background: url('../../img/css_sprites.png') -122px -10px;
}

.social__logo--in:hover {
  background: url('../../img/css_sprites.png') -10px -10px;
}

.footer__contacts {
  margin-left: 62px;
  display: flex;
  flex-direction: column;
}

.contacts__info {
  color: #9A9A9A;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
}
